<% title 'Prizes' %>
<div class="row">
  <%= content_tag :h2, t(:prize,count:0, scope:'activerecord.models') %>
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th class="text-center"><%= t(:name, scope:'activerecord.attributes.prize') %></th>
          <th class="text-center"><%= t(:qty_available, scope:'activerecord.attributes.inventory') %></th>
          <th class="text-center"><%= t(:actions) %></th>
        </tr>
      </thead>
      <tbody>
        <% @prizes.each do |prize| %>
          <tr>
            <td class="text-center"><%= link_to prize.name, admin_prize_path(prize) %></td>
            <td class="text-center"><%= prize.inventory.qty_available %></td>
            <td class="text-center">
                <% # edit %>
                <%= link_to(edit_admin_prize_path(prize), class: 'btn', title: t(:edit)) do %>
                  <span class="glyphicon glyphicon-pencil"></span>
                  <%= t(:edit) %>
                <% end %>

                <% # destroy %>
                <%= link_to(admin_prize_path(prize), method: :delete, class: 'btn', title: t(:destroy), data: {confirm: t(:confirm)}) do %>
                  <span class="glyphicon glyphicon-trash"></span>
                  <%= t(:destroy) %>
                <% end %>
            </td>
            
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br />
  <%= link_to t(:new, scope:'actioncontroller.prize'), new_admin_prize_path %>
</div>

