<% title t(:edit, scope:'actioncontroller.admin') %>
<div class ="col-sm-6 col-md-4">
  <h2><%= t(:edit, scope:'actioncontroller.admin') %></h2>
  
  <%= simple_form_for(resource, :as => resource_name,
    :url => registration_path(resource_name),
    :html => { html: {class: 'form-horizontal', role: 'form' }, :method => :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">      
      <%= f.input :email, :required => true %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
      <%= f.input :password, autocomplete: "off", hint: t('activerecord.hints.admin.password'), required: false %>
      <%= f.input :password_confirmation, required: false %>
      <%= f.input :current_password, hint: t('activerecord.hints.admin.current_password'), required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>

  <%= link_to t(:back), :back %>
</div>

